name: mvn test with JDK 25
on:
  push:
    paths:
      - '**'
jobs:
  os_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 25
        uses: actions/setup-java@v2
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: mvn test
        working-directory: .
        run: mvn test -B

